* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  font-size: 1.3rem;
  padding: 1.25em;
  gap: 1.125rem;
}

input,
select,
option {
  font-size: 1rem;
  padding: 0.25em;
}

button {
  padding: 1.25em 2em;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}
